.main {
    text-align: center;
}
.heading {
    /* position: fixed; */
    color: white;
    background-color: rgb(216, 42, 11);
    padding: 10px;
    
}
.navbar {
    display: flex;
    background-image: url('./desktop-image3.jpg');
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
    
}
.inputfield {
    display: flex;
    justify-content: center;
    gap: 10px;
}
input {
    border-radius: 5px;
}
.inputtext {
    height: 40px;
    width: 380px;
    text-align: center;
}
.search {
    padding: 10px;
    background-color: rgb(7, 194, 38);
    color: white;
    font-size:medium;
    letter-spacing: 2.0px;

}
.search:hover {
    opacity: 0.8;
}
img {
    height: 280px;
    width: 300px;
    border-radius: 10px;
    
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    
}
.label {
    text-align: center;
}
.child1 {
    height: 500px;
    width: 300px;
    margin: 10px;
    border-radius: 150px;
    background-color: rgb(226, 209, 209);
}
.child2 {
    text-align: center;
    line-height: 8px;
    /* background-color: green; */
}
.btn {
    text-align: center;
    background-color: rgb(15, 13, 2);
    color: white;
    font-size: medium;
    border-radius: 4px;
}

@media only screen and (max-width: 490px) {
    .inputfield {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .inputtext {
        height: 50px;
        width: 180px;
        text-align: center;
    }
    
}